@using LaptopWebSite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@{
    Layout = "";
}
<link href="~/Content/StyleForMenu.css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
<link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
<link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css">
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css">
<link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css">
<link href="../assets/pages/css/login.min.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="favicon.ico">
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/Scripts/JavaScriptMenu.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Preview page of Metronic Admin Theme #1 for " name="description">
    <meta content="" name="author">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

   
</head>
<body class="login" >


    <div class="logo" >
        <a href="@Url.Action("Index","Home")">
            <h3><font size="6" color="#ffffff">a</font><font size="6" color="#e08686">MARKET</font></h3>
        </a>
    </div>
    <div class="content" >
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h3 class="form-title font-green">Sign In</h3>
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "Email", name = "username", type = "text", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @style = "margin:0px", @class = "form-control form-control-solid placeholder-no-fix", type = "password", autocomplete = "off", placeholder = "Password", name = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-actions">
                <input type="submit" value="Log in" style="border-radius:0px; margin:0px;" class="btn green uppercase" />
                <label class="rememberme check mt-checkbox mt-checkbox-outline">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "lg-checkbox" })Remember
                    <span></span>
                </label>
            </div>
        }

        <div>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>


        <div class="create-account">
            <p>
                <a href="javascript:;" id="register-btn" class="uppercase">@Html.ActionLink("CREATE AN ACCOUNT", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a>
            </p>
        </div>

    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

